body {
  background-color: #8B939C;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  scale: 70%;
}

.mucho-texto{
 text-align: center;
 color: #CF6766 
}

.subtitle {
  color: white;
  text-decoration: underline;
  text-align: center;
}

.section-container {
  margin-top: 0%;
  margin-bottom: 0%;
}