.profile-picture {
    overflow: hidden;
    object-fit:scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 15%;
    height: 15%;
    display: block;
    margin: auto;
    border: 5px solid #0E131F;
    border-radius: 100%;
}

.profile-name{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    padding: 0px 0px 4px;
}

.profile-description {
    text-align: center;
    color: white;
}

.jumbotron {
    background: #38405F;
    margin-bottom:0%;
}
